/*Body*/
body {
    background-color: black;
    color: white;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;

}

/*middle*/
.middle {
    padding: 5px;
    color: red;
}

.middle h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

/*header*/
.header {
    background-color: #4441fc;
    background-image: url(header.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

/*nav*/
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px;
    font-size: 30px;
    font-family: fantasy;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: transparent;

}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    color: red;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 1em;
}

/*footer*/
footer {
    padding: 25%;
    background-color: rgb(172, 141, 0);
    color: white;
}

#icons {
    font-size: 35px;
    display: flex;
    justify-content: flex-end;
    gap: 10px
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }