body{
    background-color: rgb(6, 5, 78);
    color: rgb(112, 9, 9);
    display: flex;
    margin: auto;
    width: 100%;
}
body div{
    margin: 10px;
    padding: 20px;
}
.flexbox{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
h1{
    color: black;
    text-align: left;
    background-color: darkblue;
    border-color: black;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    padding: 1em;
}

footer{
    border: 10px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-radius: 15px;
    padding: 10px;
    background-color: purple;
}
p{
    padding: 20px;
}


nav{
    text-align: center;
    border: 3px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(7, 100, 12);

  }
  nav li {
    float: left;
  }
  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav li a:hover {
    background-color: blue;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
  }
  h2{
    text-align: center;
  }